
@{
    ViewBag.Title = "Signin";
    Layout = "~/Views/Shared/_LayoutSignin.cshtml";
}

<div class="wrapper">
    <header>Đăng nhập</header>
    <h4 style="color:red; text-align:center">@ViewBag.ThongBao</h4>
@using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="field email">
            <div class="input-area">
                <p>Nhập Email:</p>
                @Html.TextBox("Email")
            <h6 style="color:red; text-align:right">@ViewBag.ThongBaoLoi1</h6>
            </div>
        </div>
        <br />
        <div class="field password">
            <div class="input-area">
                <p>Nhập Mật Khẩu:</p>
                @Html.TextBox("Matkhau")
            <h6 style="color:red; text-align:right">@ViewBag.ThongBaoLoi2</h6>
            </div>
        </div>
        <br />
        <div class="pass-txt"><a href="#">Quên mật khẩu?</a></div>
        <input type="submit" value="Đăng nhập">
    }

    <div class="sign-txt">Bạn không phải là thành viên? <a href="Signup">Đăng ký</a></div>
</div>


